.form-feedback form{
	width:100%;
}
.form-feedback form .input{
	width:80%;
	height:50px;
}
.form-feedback form .input-text{
	height:200px;
}
.form-feedback form .input-button{
	display:flex;
	margin-left:20px;
	margin-top:20px;
}
.form-feedback form .input-button input{
	padding:10px 30px;
}